/**
* ! Reset CSS
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

:root {
  --green: #23d93a;
}

/**
* ! Navbar 
**/

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 28px 60px;
  margin-bottom: 32px;
}

.cart {
  position: relative;
  /* background-color: black; */
  color: white;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}

.cartAmount {
  position: absolute;
  top: -12px;
  right: -4px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

/**
* ! Shop items 
**/

.shop {
  display: grid;
  grid-template-columns: repeat(4, 224px);
  gap: 30px;
  justify-content: center;
}

.item {
  border: 2px solid #212529;
  border-radius: 12px;
}

.totalPrice {
  font-weight: 700;
  color: var(--green)
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
}

.bi-dash-lg {
  color: red;
}

.bi-plus-lg {
  color: var(--green);
}

/**
* ! style rules for label and some buttons
**/

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.checkout {
  background-color: var(--green);
}
.removeAll {
  background-color: red;
}
.bi-x-lg {
  color: red;
  font-weight: bold;
}

#toTopBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: black; 
  color: var(--green); 
  cursor: pointer;
  padding: 12px; 
  border-radius: 12px; 
  font-size: 24px; 
  transition: 0.2s ease-out;
}

#toTopBtn:hover {
  background-color: #555; 
}

/**
* ! style rules for shopping-cart
**/

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 400px);
  justify-content: center;
  gap: 15px;
}

/**
* ! style rules for cart-item
**/

.cart-item {
  border: 2px solid #212529;
  border-radius: 5px;
  display: flex;
}

.title-price-x {
  display: flex;
  justify-content: space-between;
}

.cart-item-price {
  color: var(--green);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0;
}

.remove-item-button {
  position: relative;

}

/* Responsive */
@media (max-width: 63.9375em) {
  .shop {
    grid-template-columns: repeat(2, 224px);
  }
}

@media (max-width: 46.1875em) {
  .shop {
    grid-template-columns: repeat(1, 224px);
  }
}
